# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6

print(number)

number = 5
print(number)

6
5

##### Assinging float

In [6]:
number_float = 2.3
print(number_float)

SyntaxError: invalid syntax (<ipython-input-6-7286bf37da8f>, line 1)

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [10]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

### Multiplication

In [12]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [16]:
result_div = num2/num1
print(result_div)

result_div /=2
print(result_div)

2.7
1.35

##### Floor Division

In [18]:
result_floor = num2//num1
print(result_floor)

2.0

##### Modulo

In [20]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [22]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [23]:
name = "Dominic"
print(name)

Dominic

##### print() <br>
<p>Don't forget about end=' '</p>

In [27]:
print("THis is my first name: ", name)
print(name, end=" Hayford")

THis is my first name:  Dominic
Dominic Hayford

##### String Concatenation

In [29]:
first_name = "John"
last_name ="Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

##### Type Conversion

In [30]:
number = "32"

change_type = float(number)
change_type + 5

37.0

##### input()

In [31]:
 # this is a single comment
age = input("What is your age: ")
# this is another comment
value_of_age = int(age) + 2
print(value_of_age)

What is your age: 29
31

##### format()

In [33]:
# ask user for age
age = input("What is your age: ")
# print out a formatted string with their age
result_string = "You are {} and you are getting old!".format(age)
# print('You are {} years old, and I am {} years old'.format(age, 34))
print(result_string)

What is your age: 110
You are 110 and you are getting old!

##### Old Way (python 2)

In [ ]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [40]:
color = input("What is color of your car: ")
year = input("What is the yaer of your car: ")
make = input("What is the make of your car: ")
model = input("What is the model of your car: ")
car_string = "Your car is {}, {}, {}, {}.".format(color,year,make,model)
print(car_string)

What is color of your car: silver
What is the yaer of your car: 2013
What is the make of your car: toyota
What is the model of your car: 4runner
Your car is silver, 2013, toyota, 4runner.

### If Statements

In [43]:
num_1 = 5
num_2 = 10

if num_1 == num_2:
    print("Equal value")
else:
    print("Not Eaual")
    
if num_2 >= num_1:
    print("This value is greater")

Not Eaual
This value is greater

##### 'is' keyword

In [44]:
# use is when checking for same object, not same value
num_3 = None

if num_3 is None:
    print("This has no value")

This has no value

##### 'in' keyword

In [47]:
# check if char in name
char_name = "Max Payne"

if "e" in char_name:
    print("The character who lost everything")

The character who lost everything

##### 'not in' keyword'

In [48]:
number = "34"

if "a" not in number:
    print("a is not here...")

a is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [50]:
name = input("What is first name: ")

if "p" in name:
    print("p is here")
else:
    print("p is not here")

What is first name: dominic
p is not here

## Using 'and'/'or' with If Statements

In [57]:
# when using 'and' keyword, checks to see if true and true
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3


if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and true')



# when using 'or' keyword, checks to see if one side is true
if num_11 > num_12 or num_13 == num_14:
    print("True / False")

# if (num1 == num2 and num1 == num3) or num2 > num1:
#     print('False and true')
if (num_11 == num_14 and num_12 == num_13) or num_13 > num_14:
    print("False / True")

True and true
True / False
False / True

### Elif Statements

In [58]:
first_name = "Max"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("The is NOT Max")
else:
    print("The name IS Max")

The name IS Max

### Else Statements

In [ ]:
# see above

# In-Class Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [64]:
your_age = int(input("What is your age: "))

if your_age < 18:
    print("Kids")
elif your_age >= 18 and your_age < 65:
    print("Adults")
else:
    print("Senior")

What is your age: 58
Adults

### For Loops

In [65]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name = "Dominic Brian"

for letter in name:
    print(letter)

D
o
m
i
n
i
c

B
r
i
a
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [69]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [70]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # TODO: COME BACK AND FINISH LATER

##### Double For Loops

In [71]:
for i in range(5):
    for j in range(5):
        print("i = {}, j = {}".format(i,j))

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [72]:
# based on a conditional statement
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [73]:
game_over = False

while True:
    print("Infinte Loop")
    if game_over == False:
        break

Infinte Loop

##### While & For Loops Used Together

In [1]:
num = 0

while num < 5:
    print("While Loop Iteration " + str(num))
    
    for i in range(2):
        print("For Loop Iteration " + str(i))
        
    num +=1

While Loop Iteration 0
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration 1
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration 2
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration 3
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration 4
For Loop Iteration 0
For Loop Iteration 1

### Built-In Functions

##### range()

In [6]:
# start, stop, step
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [7]:
# check length of variable
name = "Max"

length = len(name)
print(length)


# print(length)

for i in range(len(name)):
    print(name[i])

3
M
a
x

##### help()

In [9]:
# to view more information on a python function
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [12]:
# isinstance(var, type)

if isinstance(4.5, float):
    print("This is a float")
    
    
if isinstance(name, str):
    print("Hi my name is", name)

This is a float
Hi my name is Max

##### abs()

In [13]:
# | 5 |
abs(-5)

5

### Try and Except

In [18]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop

try:
    number_test = 0
    input_Num = input("Guess a number: ")
    if input_Num != number_test:
        input_Num = input_Num + number_test
        print("Your number is " + str(number_test))
        
except:
    print("That did not work -- ERROR: change to number")

Guess a number: 9
That did not work -- ERROR: change to number

### Lists

##### Declaring Lists

In [20]:
l_1 = [] # Empty List Declared

names = ["Max", "Cindy", "Kathy", "Bob"]

print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [29]:
# [-1], [start: stop: step]

# print(names[0])
print(names[0])

# print(names[1:]) # starts at 1 goes to end
print(names[1:])

# print(names[:2]) # starts at beginning prints index 0 and 1
print(names[:2])

# print(names[1::2]) # starts at index 1 goes up by 2 each iteration (basically prints out all odd indexes)
print(names[1::2])

# print(names[::-1]) # reverse printed order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [30]:
# YOu use .append If you want something to a list

names.append("Dominic")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Dominic']

##### .insert()

In [32]:
# list.insert(index, value)

names.insert(3, "Wyn")

print(names)

['Wyn', 'Max', 'Cindy', 'Wyn', 'Kathy', 'Bob', 'Dominic']

##### .pop()

In [34]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable

result = names.pop()
print(result)

result = names.pop(3)
print(result)

Bob
Wyn

##### .remove()

In [35]:
# value to be removed, not index

names.remove("Wyn")
print(names)

['Max', 'Cindy', 'Kathy']

##### del()

In [36]:
# index to be removed, not value
# be careful with del, can cause indexing errors

del(names[0])

print(names)

['Cindy', 'Kathy']

##### Concatenating Two Lists

In [37]:
# will append two lists together, not add up elements in each list

l_1 = [3,4,5]
l_2 = [0,1,2]

large_list = l_1 + l_2
print(large_list)

[3, 4, 5, 0, 1, 2]

##### Lists Within Lists

In [39]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other

names = ["Max", "Sam", "Josh",["Sally", "Sue", "Tameka"]]

print(names)

# To print out just Sally

print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sally

##### Looping Through Lists

In [46]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword
first_names = ["Jim", "Sally", "Fred", "Lucas"]


#Loop with a for Loop
for i in range(len(first_names)):
    print(first_names[i])

# loop based on index
last_name = "Hayford"

for char in last_name:
    print(char)

Jim
Sally
Fred
Lucas
H
a
y
f
o
r
d

## Exercise #1 <br>
<p>Build a pyramid of x's with 5 rows...</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x <br>
&nbsp;&nbsp;&nbsp;&nbsp; x x <br>
&nbsp;&nbsp;&nbsp; x x x <br>
&nbsp;&nbsp; x x x x <br>
&nbsp; x x x x x

In [69]:
pyr_x = 6

for i in range(1, 6, 2):
    print(' '*pyr_x+i*'*')
    
    pyr_x+1

      *
      ***
      *****

## Exercise #2 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [77]:
cubes = []
for number in range(1, 11):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #3 <br>
<p>Get first 100 Prime Numbers</p>

In [7]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for Number in range (1, 1000):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97   101   103   107   109   113   127   131   137   139   149   151   157   163   167   173   179   181   191   193   197   199   211   223   227   229   233   239   241   251   257   263   269   271   277   281   283   293   307   311   313   317   331   337   347   349   353   359   367   373   379   383   389   397   401   409   419   421   431   433   439   443   449   457   461   463   467   479   487   491   499   503   509   521   523   541   547   557   563   569   571   577   587   593   599   601   607   613   617   619   631   641   643   647   653   659   661   673   677   683   691   701   709   719   727   733   739   743   751   757   761   769   773   787   797   809   811   821   823   827   829   839   853   857   859   863   877   881   883   887   907   911   919   929   937   941   947   953   967   971   977   983   991   997

## Exercise #4 <br>
<p>Make an addition calculator that takes in two inputs from the user and performs addition on those two numbers...<br>Then check to make sure that both numbers are instances of int or float<br><i>Hint: Use int() and float() to convert string inputs to numbers</i></p>

In [76]:
num_1 = input("Type any number that you want: ")
num_2 = input("Type any number that you want and I will add it to the first number: ")

print(float(num_1) + float(num_2))

Type any number that you want: 3.5
Type any number that you want and I will add it to the first number: 6
9.5

## Exercise #5 <br>
<p><b>Extra Credit</b><br>Do the same as exercise 4, except ask the user what they would like to do (add, subtract, multiply, or divide) then perform that operation...</p>